.opinionContainer{
    padding: 15px;
    width: 100%;
    max-width: 1440px;
    align-self: center;
    display: flex;
    flex-direction: column;


    .seccionTitle {
        font-family: "Philosopher", sans-serif;
        font-size: 2rem;
        margin-top: 140px;
      }
    .lineRed {
        margin-top: 3px;
      height: 3px;
      border-bottom: #f00707 3px solid;
      width: 325px;
      max-width: 30%;

    }
    .lineGrey {
      height: 1px;
      margin-bottom: 50px;
      border-top: #e0e6e8 1px solid;
      width: 800px;
      max-width: 80%;

    }
}