.footer {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  hr {
      color: #ffffff;
    }
    
}
.logoFooter{
  width: 100%;
}
.footer-menu {
  background-color: #303030;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .container-top-footer {
    justify-content: center;
    width: 100vw;
    text-align: center;
  }
  .container-top-footer-promotion {
    width: 100vw;

    ul {
      display: block;
    }
    .form {
      width: 100vw;
      margin: 10px 0px 10px 0px;
      display: flex;
      justify-content: space-around;
      input {
        height: 30px;
        border-radius: 7px;
        border: none;
      }
      input::placeholder {
        padding-left: 10px;
      }
      button {
        background-color: #acaead;
        color: #ffffff;
        border: none;
        border-radius: 7px;
        width: 100px;
        height: 30px;
      }
    }
    .center-object {
      display: flex;
      justify-content: center;
    }
  }

  ul {
    position: initial;
    right: 0px;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 0px 10px 0px;

    li {
      /* margin: 0rem 1rem; */
      height: 100%;
      flex-direction: row;
      display: flex;
      align-items: center;
      a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  h4 {
    font-size: 14px;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
  }
}

.footer-social-media {
  text-align: center;
  padding: 20px 0px;
  h4 {
    font-size: 10px;
    color: #ffffff;
    margin: 10px 0px;
  }

  .iconos-social-media {
    display: flex;
    justify-content: space-around;
    align-items:center ;
    img {
      height: 20px;
    }
  }
}

/*TABLET*/
@media (min-width: 361px) {
    .logoFooter{
        width: 30%;
        max-width: 300px;
    }

  .footer-social-media {
    h4 {
      font-size: 14px;
      margin: 12px 0px;
    }
    
  }
}
@media (min-width: 769px) {
    .logoFooter{
        width: 30%;
        max-width: 300px;
    }
  .footer {
    width: 100%;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    .container-top-footer {
      width: 15%;
      display: flex;
    flex-direction: column;
    align-content: flex-start;
    ul{
        flex-direction: column;  
    }
    }

    
    
  }

  .footer-social-media {
    display: flex;
    justify-content: space-around;
    .iconos-social-media {
      width: fit-content;
      img{
          margin: 0px 10px ;
      }
    }
  }
}
