.iconContainer{
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 img{
     margin-left: 1px;
 }
    p{
        color:white
    }
    .capacidad{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        img{
            position: relative;
            bottom: 8px;
        }
    }
    .metrosCuadrados{
    display: flex;
        img{
            margin-right: 5px;
        }
    }
}