.mainViewBackground {
  background: url("../../atoms/fondo.png");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
} 

.mainView {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
