.contactViewBackground {
  background: url("../../atoms/fondoContacto.png");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
} 

.contactView{
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    
}

.contactTitle{
    margin: 30px 0px 10px 20px;
    .contactH2{
        font-size: 24;
        color: white;
        font-weight: 200;
    }
    .lineRed {
        margin-top: 3px;
        height: 3px;
        border-bottom: #f00707 3px solid;
        width: 32vw; //40.625%
    }
    .lineGrey {
        height: 1px;
        margin-bottom: 50px;
        border-top: #e0e6e8 1px solid;
        width: 48vw; //59.375%
        transform: translate(32vw, -2px);
    }
}

.contactContainerForm{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.contactForm{
    margin: 5px 0px 10px 0px;
    display: grid;
    justify-items: center;

    label{
        justify-self: flex-start;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    textarea{
        border-radius: 5px;
        border: none;
    }

    input{
        width: 100%;
        height: 20px;
        border-radius: 5px;
        border: none;
    }

    button{
        width: 106px;
        height: 34px;
        margin-top: 26px;
        background: none;
        border-color: white;        
        border-radius: 8px;
        color: white;
    }
}

@media (min-width: 769px){ 

    .contactForm{
        textarea{
            width: 36vw;
            height: 27.3vh;
        }
    
        input{
            width: 36vw;
            height: 6.6vh;
        }
    }

}