.listaLink{
  position: absolute;
  right: 0px;
  height: 100%;
  
  
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;

  li {
    margin: 0rem 1rem;
   height: 100%;
   flex-direction: row;
   display: flex;
  align-items: center;
    a{
      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}}
