<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuentranos</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>

<h2>Nos encontramos en: </h2>
<hr>

<div class = "cards">
<div class="lugares" id="card1">
<p>London</p>
</div>  

<div class="lugares" id="card2">
<p>Miami</p>
</div> 
 
<div class="lugares" id="card3">
<p>Cancún</p>
</div> 

</div>

</body>
</html>