.navBar {
  border-bottom: 1px solid #ffe9e9;
  display: flex;
  position: absolute;
  top: 0px;
  //height: 115px;  
  width: 100vw;
  align-items: center;
  background: linear-gradient(20deg, rgba(2,0,36,0) 46%, rgba(0,0,0,0.6559217436974789) 100%);
}

.logoNavBar {
  width: 125px;
}
